<!DOCTYPE html>{% load compressed %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <!--meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"-->
        <title>{% block page_title_wrap %}{% block page_title %}{% endblock %} &#8226; Projectname{% endblock %}</title>
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
        <meta name="author" content="{% block meta_author %}{% endblock %}">
        <meta name="viewport" content="width=device-width">

        {% block css %}
            {% compressed_css 'main' %}
        {% endblock %}

        {% compressed_js 'modernize' %}
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div id="wrap">
            <div class="container">
                {% block page_header_wrap %}
                    <div class="page-header">
                        <h1>{% block page_header %}{% endblock %}</h1>
                    </div>
                {% endblock %}

                {% block page_messages_wrap %}
                    <div id="messages">
                        {% block page_messages %}
                            {% for msg in messages %}
                                <div class="alert {{ msg.tags|message_css_class }}">
                                    <!--button type="button" class="close" data-dismiss="alert">&times;</button-->
                                    {% if 'safe' in msg.tags %}
                                        {{ msg.message|safe }}
                                    {% else %}
                                        {{ msg.message }}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        {% endblock page_messages %}
                    </div>
                {% endblock %}

                {% block page_content %}{% endblock %}
            </div>
            <div id="push"></div>
        </div>

        <div id="footer">
            <div class="container">
                <p style="margin: 20px 0;">&copy; Company {% now 'Y' %}</p>
            </div>
        </div>

        {% block js %}
            {% compressed_js 'main' %}
        {% endblock %}

        <!--script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script-->

        {% csrf_token %}
    </body>
</html>
