NameVirtualHost 127.0.0.1:%(apache_port)s

<VirtualHost 127.0.0.1:%(apache_port)s>
    ServerName %(server_name)s
    ServerAlias www.%(server_name)s
    ServerAdmin %(server_admin)s

    WSGIDaemonProcess %(project_name)s user=%(user)s group=%(group)s processes=%(apache_processes)s threads=%(apache_threads)s
    WSGIProcessGroup %(project_name)s

    WSGIScriptAlias / %(var_dir)s/etc/wsgi.py

    <Directory %(var_dir)s/etc/>
        Order deny,allow
        allow from all
    </Directory>

    ErrorLog /var/log/apache2/%(project_name)s-error.log
    ErrorDocument 500 %(project_dir)s/%(project_name)s/templates/500.html

    # Possible values include: debug, info, notice, warn, error, crit, alert, emerg
    LogLevel error
</VirtualHost>
